layout {

    focus-ring {
        active-color   "#f5bc6e"
        inactive-color "#17130d"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#f5bc6e"
        inactive-color "#17130d"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#f5bc6e"
        inactive-color "#91641e"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#f5bc6e80"
    }
}

recent-windows {
    highlight {
        active-color "#f5bc6e"
        urgent-color "#ffb4ab"
    }
}
