layout {

    focus-ring {
        active-color   "#afc9e6"
        inactive-color "#121315"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#afc9e6"
        inactive-color "#121315"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#afc9e6"
        inactive-color "#7a93ae"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#afc9e680"
    }
}

recent-windows {
    highlight {
        active-color "#afc9e6"
        urgent-color "#ffb4ab"
    }
}
