[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[user]
	email = haaksk@gmail.com
	name = Håkon Skogsrud
[push]
	autoSetupRemote = true
