[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[user]
	email = hakon.skogsrud@gjensidige.no
	name = Håkon Skogsrud
	signingkey = 473B181C141C24A2
[push]
	autoSetupRemote = true
[core]
  editor = nvim
	excludesfile = /Users/Hakon.Skogsrud/.gitignore_global
	pager = delta
[include]
  path = /Users/Hakon.Skogsrud/.config/delta/themes.gitconfig

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
  features = mellow-barbet

[merge]
	conflictstyle = zdiff3

[diff]
	colorMoved = default
  algorith = histogram

[rerere]
  enabled = true

[commit]
	gpgsign = true
[tag]
	gpgsign = true
