[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[user]
	email = hakon.skogsrud@gjensidige.no
	name = Håkon Skogsrud
	signingkey = 473B181C141C24A2
[push]
	autoSetupRemote = true
[core]
	excludesfile = /Users/Hakon.Skogsrud/.gitignore_global
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true

[merge]
	conflictstyle = zdiff3

[diff]
	colorMoved = default

[commit]
	gpgsign = true
[tag]
	gpgsign = true
