[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
[user]
	email = haakon.skogsrud@pm.me
	name = Håkon Skogsrud
[push]
	autoSetupRemote = true
